﻿@page
@model WebApplication1.Pages.CreateTripModel
@{
}

@section Styles{
	<link rel="stylesheet" href="~/css/createTrip.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
		  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
		  crossorigin="" />
}

<form method="post">
	<h1>Choose a location:</h1>
	<div id="map"></div>
	<div class="data">
		<label asp-for="TripEssentials.XCoord">X Coordinate</label>
		<input id="xcoord" asp-for="TripEssentials.XCoord" />
		<span asp-validation-for="TripEssentials.XCoord"></span>
		<label asp-for="TripEssentials.YCoord">Y Coordinate</label>
		<input id="ycoord" asp-for="TripEssentials.YCoord" />
		<span asp-validation-for="TripEssentials.YCoord"></span>
		<label asp-for="TripEssentials.StartDate">Start date:</label>
		<input type="date" asp-for="TripEssentials.StartDate" min="@DateTime.Today.ToString("yyyy-MM-dd")" max="@DateTime.Today.AddDays(6).ToString("yyyy-MM-dd")" />
		<span asp-validation-for="TripEssentials.StartDate" ></span>
		<label asp-for="TripEssentials.EndDate">End date:</label>
		<input type="date" asp-for="TripEssentials.EndDate" min="@DateTime.Today.ToString("yyyy-MM-dd")" max="@DateTime.Today.AddDays(6).ToString("yyyy-MM-dd")" />
		<span asp-validation-for="TripEssentials.EndDate"></span>
		<input type="submit" value="Search" class="button"/>
		
	</div>
	<table border="1">
<tbody><tr><th colspan="4"><font=+2>Conditions at Zenith</font=+2></th></tr>



<tr height="11%"><td>Color</td><td><font size="-2">Artificial / Natural<br>Sky Brightness</font></td><td><font size="-2">Sky Brightness<br>mags / sq arcsec<br>V Band</font></td>
<td><a href="http://en.wikipedia.org/wiki/Bortle_scale">Bortle Scale</a><br><font color="#FF0000" size="-2">approx</font></td>
<td>Description <font size="-2">(Descriptions are approximate. Your sky may vary.)</font></td>

<!-- black -->
</tr>
<tr height="11%"><td bgcolor="#000000"> </td><td>&lt; 0.01</td><td>22.00 to 21.99</td><td>1</td>
<td>Theoretically darkest sky limited by <a href="http://en.wikipedia.org/wiki/Airglow">airglow</a> and starlight</td>
</tr>

<!-- dark grey -->
<tr height="11%"><td bgcolor="#353535"> </td><td>0.01 to 0.06</td><td>21.99 to 21.93</td>
<td>2</td>
<td><a href="http://en.wikipedia.org/wiki/Gegenschein">Gegenschein</a> visible. <a href="http://en.wikipedia.org/wiki/Zodiacal_light">Zodiacal light</a> annoyingly bright. Rising milkyway confuses some into thinking it's dawn.
Limiting magnitude 7.6 to 8.0 for people with exceptional vision. Users of large dobsonian telescopes are <i>very</i> happy.
[-ad]</td>
</tr>

<!-- bright grey -->
<tr height="11%"><td bgcolor="#232323"> </td><td>0.06 to 0.11</td><td>21.93 to 21.89</td>
<td>2</td>
<td>Faint shadows cast by milkyway visible on white objects. Clouds are black holes in the sky. No light domes.
The milky way has faint extentions making it 50 degrees thick. Limiting magntiude 7.1 to 7.5.
[-ad]</td>
</tr>

<!-- dark blue -->
<tr height="11%"><td bgcolor="#012584"> </td><td>0.11 to 0.19</td><td>21.89 to 21.81</td><td>3</td>
<td></td>
</tr>

<!--bright blue-->
<tr height="11%"><td bgcolor="#013EDC"> </td><td>0.19 to 0.33</td><td>21.81 to 21.69</td><td>3</td>
<td>
The sky is crowded with stars, extending to the horizon in all directions. In the absence of haze the M.W. can be seen to the horizon. Clouds appear as black silhouettes against the sky. Stars look large and close.
[-<a href="http://unihedron.com/projects/darksky/berry/berry.htm">Richard Berry</a>]
Low light domes (10 to 15 degrees) on horizon. M33 easy with averted vision. M15 is naked eye.
Milky way shows bulge into Ophiuchus.
Limiting magnitude 6.6 to 7.0.
[-ad]</td>
</tr>

<!-- dark green -->
<tr height="11%"><td bgcolor="#316A1B"> </td><td>0.33 to 0.58</td><td>21.69 to 21.51</td> <td>4</td>
<td>21.6: ... a glow in the direction of one or more cities is seen on the horizon. Clouds are bright near the city glow.
[-<a href="http://unihedron.com/projects/darksky/berry/berry.htm">Richard Berry</a>]
</td>
</tr>

<!--bright green-->
<tr height="11%"><td bgcolor="#53B12E"> </td><td>0.58 to 1.00</td><td>21.51 to 21.25</td><td>4</td>
<td>Zodiacal light seen on best nights. Milkyway shows much dark lane structure with beginnings of faint bulge into Ophiuchus.
M33 difficult even when above 50 degrees.
Limiting magnitude about 6.2 to 6.5. [-ad]</td>
</tr>

<!--dark yellow-->
<tr height="11%"><td bgcolor="#908C2E"> </td><td>1.00 to 1.73</td><td>21.25 to 20.91</td><td>4.5</td>
<td>21.1: The M.W. is brilliant overhead but cannot be seen near the horizon. Clouds have a greyish glow at the zenith and appear bright in the direction of one or more prominent city glows.
[-<a href="http://unihedron.com/projects/darksky/berry/berry.htm">Richard Berry</a>]
Some dark lanes in milkyway but no bulge into Ophiuchus. Washed out milkyway visible near horizon. Zodiacal light very rare. Light domes up to 45 degrees.
Limiting magnitude about 5.9 to 6.2.
[-ad] 
</td>
</tr>

<!--bright yellow-->
<tr height="11%"><td bgcolor="#CEC842"> </td><td>1.73 to 3.00</td><td>20.91 to 20.49</td><td>4.5</td>
<td></td>
</tr>



<!-- Dark Orange -->
<tr height="11%"><td bgcolor="#A25827"> </td><td>3.00 to 5.20</td><td>20.49 to 20.02</td><td>5</td>
<td>20.4: To a city dweller the M.W. is magnificent, but contrast is markedly reduced, and delicate detail is lost. Limiting magnitude is noticeably reduced.
Clouds are bright against the zenith sky. Stars no longer appear large and near.
[-<a href="http://unihedron.com/projects/darksky/berry/berry.htm">Richard Berry</a>]
Milkyway washed out at zenith and invisible at horizon. Many light domes. Clouds are brighter than sky.
M31 easily visible.
Limiting magnitude about 5.6 to 5.9.[-ad]
</td>
</tr>

<!-- Bright Orange --> 
<tr height="11%"><td bgcolor="#D87635"> </td><td>5.20 to 9.00</td><td>20.02 to 19.50</td><td>5</td>
</tr>

<!-- dark red -->
<tr height="11%"><td bgcolor="#9A2421"> </td><td>9.00 to 15.59</td><td>19.50 to 18.95</td>
<td>6</td>
<td>19.5: M.W. is marginally visible, and only near the zenith. Sky is bright and discoloured near the horizon in the direction of cities. The sky looks dull grey.
[-<a href="http://unihedron.com/projects/darksky/berry/berry.htm">Richard Berry</a>]
Milkyway at best very faint at zenith. M31 difficult and indestinct. Sky is grey up to 35 degrees.
Limiting magntidue 5.0 to 5.5. [-ad]
</td>
</tr>

<!-- bright red -->
<tr height="11%"><td bgcolor="#ED3833"> </td><td>15.59 to 27.00</td><td>18.95 to 18.38</td><td>7</td>
<td></td>
</tr>


<!-- off white -->
<tr height="11%"><td bgcolor="#BFBFBF"> </td><td>27.0 to 46.77</td><td>18.38 to 17.80</td><td>8</td>
<td>Entire sky is grayish or brighter. Familliar constellations are missing stars. Fainter constellations are absent.  
Less than 20 stars visible over 30 degrees elevation in brigher areas.
Limiting magntude from 3 to 4.CCD imaging is still possible. But telescopic visual observation is usually limited to
the moon, planets, double stars and variable stars. [-ad] 
</td>
</tr>

<!-- white -->
<tr height="11%"><td bgcolor="#FFFFFF" border="1"> </td><td>&gt;46.77</td><td>&gt;17.80</td>
<td>9</td>
<td>18.5: Stars are weak and washed out, and reduced to a few hundred. The sky is bright and discoloured everywhere.
[-<a href="http://unihedron.com/projects/darksky/berry/berry.htm">Richard Berry</a>]
Most people don't look up.[-ad]</td>
</tr>



</tbody></table>

	
</form>

@section scripts {

	<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
			integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
			crossorigin="">
	</script>
	<script>
		var map = L.map('map').setView([51.505, -0.09], 13);
		L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
			maxZoom: 19,
			attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
		}).addTo(map);

		var imageUrl = "https://djlorenz.github.io/astronomy/lp2022/overlay/tiles/tile_{z}_{x}_{y}.png"
		var errorOverlayUrl = 'https://cdn-icons-png.flaticon.com/512/110/110686.png';
		var latLngBounds = L.latLngBounds([[-60.5, -180], [65.75, 180]]);
		var altText = 'Imag'

		var lightpollution2022 = L.tileLayer(
			'https://djlorenz.github.io/astronomy/lp2022/overlay/tiles/tile_{z}_{x}_{y}.png', {
			minZoom: 2,
			maxNativeZoom: 8,
			maxZoom: 19,
			tileSize: 1024,
			zoomOffset: -2,
			opacity: 0.5
		}).addTo(map)

		var popup = L.popup();
		var selectedLocation
		function onMapClick(e) {
			popup
				.setLatLng(e.latlng)
				.setContent("You clicked the map at " + e.latlng.toString())
				.openOn(map);
			selectedLocation = e.latlng;

			document.getElementById("xcoord").value = e.latlng.lat
			document.getElementById("ycoord").value = e.latlng.lng
		}

		map.on('click', onMapClick);
	</script>
	
}