﻿@page
@model WebApplication1.Pages.LoginModel
@{
	ViewData["Title"] = "Login";
	Layout = null;
}

<head>
	<link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="wrapper">
	<form method="post" class="form">
		<h1>AstroTravel</h1>
		<label for="Username">Username:</label>
		<input type="text" asp-for="Credentials.Username" class="margin-bottom">
		<span asp-validation-for="Credentials.Username"></span>
		<label for="Password">Password:</label>
		<input type="password" asp-for="Credentials.Password" class="margin-bottom" />
		<span asp-validation-for="Credentials.Password"></span>
		<button type="submit" class="button" id="login">Login</button>
		<a class="register" asp-page="./Register">No account? Register here.</a>
		@if(Model.LoginSuccessful == false)
		{
			<span>Incorrect credentials!</span>
		}
	</form>
</body>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}