﻿@page
@model WebApplication1.Pages.RegisterModel
@{
	Layout = null;
}
<head>
	<link href="@Url.Content("~/css/register.css")" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body class="wrapper">
	<form method="post" class="form">
		<h1>Register</h1>
		<label asp-for="CredentialsRegister.Username">Username:</label>
		<input asp-for="CredentialsRegister.Username" class="margin-bottom">
		<span asp-validation-for="CredentialsRegister.Username"></span>
		<label asp-for="CredentialsRegister.Password">Password:</label>
		<input type="password" asp-for="CredentialsRegister.Password" class="margin-bottom" />
		<span asp-validation-for="CredentialsRegister.Password"></span>
		<label asp-for="CredentialsRegister.RepeatPassword">Repeat Password:</label>
		<input type="password" asp-for="CredentialsRegister.RepeatPassword" class="margin-bottom" /></>
		<span asp-validation-for="CredentialsRegister.RepeatPassword"></span>
		<input type="submit" class="button"/>
		<a class="login" asp-page="./Login">Already an user? Login here.</a>
		@if (Model.userExists)
		{
			<span>The username is taken!</span>
		}
		@if (Model.registerSuccessful)
		{
			<span>Registration was successful! You can log in now.</span>
		}
	</form>
</body>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}