﻿@page
@model WebApplication1.Pages.TripDetailsModel
@section Styles {

	<link rel="stylesheet" href="~/css/tripDetails.css" asp-append-version="true" />
}
<div class="title-wrapper">
	<form method="post">
		<input asp-for=@Model.TripName class="title" value="TripName"/>
		<input type="submit" value="Save Trip"/>
	</form>
</div>
<span class="notes">@Model.SuccessfulCalls / 3 successful api calls.</span>
<span class="notes">Each cell displays the result from three APIs (VisualCrosing / OpenMeteo / StormGlass)</span>
<table>
	<tr>
		<th></th>
		@for(int i = Model.startDateDiff; i <= Model.endDateDiff; i++)
		{
			<th class="test">@DateTime.Today.AddDays(i).ToString("dd/MM")</th>
			@for (int j = 0; j < 23; j++)
			{
				<th></th>	
			}
		}
	</tr>
	<tr>
		<th>Property \ Hour</th>
		@for (int i = Model.startDateDiff * 24; i < Model.endDateDiff*24; i++)
		{
			<th>@(i%24):00</th>
		}
	</tr>
	<tr>
		<td>Clouds (% of sky covered)</td>
		@for (int i = Model.startDateDiff; i <= Model.endDateDiff; i++)
		{
			@for (int j = 0; j < 24; j++)
			{
				<td class="@checkCloudCoverage(i, j)" onclick="@handleClick(@i, @j)">
					@if (Model.visualCrossingResponse != null) {
						@Model.visualCrossingResponse.days[i].hours[j].CloudCover
					} else
					{
						<span>-</span>
					}
					/
					@if (Model.openMeteoResponse != null) { 
						@Model.openMeteoResponse.hourly.CloudCover[24*i+j]
					} else
					{
					<span>-</span>	
					}
					/
					@if (Model.stormGlassResponse != null) { 
						@Model.stormGlassResponse.hours[24 * i + j].CloudCover.Value
					} else
					{
						<span>-</span>
					}
				</td>
			}
			
		}
	</tr>
	<tr>
		<td>Temperature (Celsius)</td>
		@for (int i = Model.startDateDiff; i <= Model.endDateDiff; i++)
		{
			@for (int j = 0; j < 24; j++)
			{
				<td onclick="@handleClick(@i, @j)">
					@if (Model.visualCrossingResponse != null) { 
						@Model.visualCrossingResponse.days[i].hours[j].Temp
					} else
					{
						<span>-</span>
					}
					/
					@if (Model.openMeteoResponse != null)
					{
						@Model.openMeteoResponse.hourly.Temperature[24 * i + j]
					} else
					{
						<span>-</span>
					}
					/
					@if (Model.stormGlassResponse != null) { 
						@Model.stormGlassResponse.hours[24 * i + j].AirTemperature.Value
					}
					else
					{
						<span>-</span>
					}
				</td>
			}

		}
	</tr>
	<tr>
		<td>Visibility (km)</td>
		@for (int i = Model.startDateDiff; i <= Model.endDateDiff; i++)
		{
			@for (int j = 0; j < 24; j++)
			{
				<td class="@checkVisibility(i, j)" onclick="@handleClick(@i, @j)">
					@if (Model.visualCrossingResponse != null)
					{
						@Model.visualCrossingResponse.days[i].hours[j].Visibility
					} else
					{
						<span>-</span>
					}
					/
					@if (Model.openMeteoResponse != null)
					{
						float value = @Model.openMeteoResponse.hourly.Visibility[24 * i + j] / 1000;
						<span>@value</span>
					} else
					{
						<span>-</span>
					}
					/
					@if (Model.stormGlassResponse != null) { 
						@Model.stormGlassResponse.hours[24 * i + j].Visibility.Value
					}
					else
					{
						<span>-</span>
					}
				</td>
			}
		}
	</tr>
	<tr>
		<td>Precipitation Chance %</td>
		@for (int i = Model.startDateDiff; i <= Model.endDateDiff; i++)
		{
			@for (int j = 0; j < 24; j++)
			{
				<td class="@checkPrecipitations(i, j)" onclick="@handleClick(@i, @j)">
					@if (Model.visualCrossingResponse != null)
					{
						@Model.visualCrossingResponse.days[i].hours[j].PrecipProbability
					} else
					{
						<span>-</span>
					}
					/
					@if (Model.openMeteoResponse != null)
					{
						@Model.openMeteoResponse.hourly.PrecipitationProbability[24 * i + j]
					} else
					{
						<span>-</span>
					}
				</td>
			}
		}
	</tr>
	<tr>
		<td>Wind speed</td>
		@for (int i = Model.startDateDiff; i <= Model.endDateDiff; i++)
		{
			@for (int j = 0; j < 24; j++)
			{
				<td class="@checkWind(i, j)" onclick="@handleClick(@i, @j)">
					@if (Model.visualCrossingResponse != null)
					{
						@Model.visualCrossingResponse.days[i].hours[j].WindSpeed
					} else
					{
						<span>-</span>
					}
					/
					@if (Model.openMeteoResponse != null)
					{
						@Model.openMeteoResponse.hourly.WindSpeed[24 * i + j]
					}else
					{
						<span>-</span>
					}
					/
					@if (Model.stormGlassResponse != null) { 
						@Model.stormGlassResponse.hours[24 * i + j].WindSpeed.Value
					}
					else
					{
						<span>-</span>
					}
				</td>
			}
		}
	</tr>
	<tr>
		<td>Moon phase</td>
		@for (int i = Model.startDateDiff; i <= Model.endDateDiff; i++)
		{
			@for (int j = 0; j < 24; j++)
			{
				@if (Model.visualCrossingResponse != null)
				{
					<td onclick="@handleClick(@i, @j)">@Model.visualCrossingResponse.days[i].MoonPhase</td>
				} else
				{
					<td>-</td>
				}
			}
		}
	</tr>
</table>
<div class="observation">
	<h1 class="observation__text">Observations:</h1>
	<span id="observation-date"></span>
	<ul id="observations">
		<li class="observation__text">Click on any column to see the observations.</li>
	</ul>
</div>
@functions{
	public string checkCloudCoverage(int i, int j){
		int badReference = 0;
		if (Model.visualCrossingResponse != null && Model.visualCrossingResponse.days[i].hours[j].CloudCover > 40)
		{
			badReference++;
		}
		if (Model.openMeteoResponse != null && Model.openMeteoResponse.hourly.CloudCover[24 * i + j] > 40)
		{
			badReference++;
		}
		if (Model.stormGlassResponse != null && Model.stormGlassResponse.hours[24 * i + j].CloudCover.Value > 40)
		{
			badReference++;
		}

		if(badReference >= 2) return "bad-value";
		return "";
	}

	public string checkVisibility(int i, int j){
		int badReference = 0;
		if (Model.visualCrossingResponse != null && Model.visualCrossingResponse.days[i].hours[j].Visibility <13)
		{
			badReference++;
		}
		if (Model.openMeteoResponse != null && Model.openMeteoResponse.hourly.Visibility[24 * i + j] <13)
		{
			badReference++;
		}
		if (Model.stormGlassResponse != null && Model.stormGlassResponse.hours[24 * i + j].Visibility.Value <13)
		{
			badReference++;
		}

		if (badReference >= 2) return "bad-value";
		return "";
	}

	public string checkPrecipitations(int i, int j)
	{
		int badReference = 0;
		if (Model.visualCrossingResponse != null && Model.visualCrossingResponse.days[i].hours[j].PrecipProbability > 40)
		{
			badReference++;
		}
		if (Model.openMeteoResponse != null && Model.openMeteoResponse.hourly.PrecipitationProbability[24 * i + j] > 40)
		{
			badReference++;
		}

		if (badReference >= 2) return "bad-value";
		return "";
	}

	public string checkWind(int i, int j) //>12km bad
	{
		int badReference = 0;
		if (Model.visualCrossingResponse != null && Model.visualCrossingResponse.days[i].hours[j].WindSpeed > 12)
		{
			badReference++;
		}
		if (Model.openMeteoResponse != null && Model.openMeteoResponse.hourly.WindSpeed[24 * i + j] > 12)
		{
			badReference++;
		}
		if (Model.stormGlassResponse != null && Model.stormGlassResponse.hours[24 * i + j].WindSpeed.Value > 12)
		{
			badReference++;
		}

		if (badReference >= 2) return "bad-value";
		return "";
	}

	public String handleClick(int i, int j){
		string cloudObservation = checkCloudCoverage(i, j).Equals("bad-value") ? "true" : "false";
		string visibilityObservation = checkVisibility(i, j).Equals("bad-value") ? "true" : "false";
		string windObservation = checkWind(i, j).Equals("bad-value") ? "true" : "false";
		string precipitationObservation = checkPrecipitations(i, j).Equals("bad-value") ? "true" : "false";

		string day = @DateTime.Today.AddDays(i).ToString("dd/MM");
		Console.WriteLine(day);
		return $"displayObservation({cloudObservation}, {visibilityObservation}, {precipitationObservation}, {windObservation}, \"{day}\", {j})";
	}
}

@section Scripts
  {
	<script>

		function displayObservation(cloud, visibility, precipitation, wind, day, hour) {
			var date = document.getElementById("observation-date")
			date.innerHTML = `(${day} ${hour}:00)`;
			date.classList.add("observation__text");
			console.log(day);
			
			var ul = document.getElementById("observations");
			ul.innerHTML = "";
			if (cloud === true) {
				var li = document.createElement("li");
				li.appendChild(document.createTextNode("Too many clouds cover the sky."));
				li.classList.add("observation__text");
				ul.appendChild(li);
			}
			if (visibility === true) {
				var li = document.createElement("li");
				li.appendChild(document.createTextNode("Visibility is beind disrupted (fog / haze)"));
				li.classList.add("observation__text");
				ul.appendChild(li);
			}
			if (precipitation === true) {
				var li = document.createElement("li");
				li.appendChild(document.createTextNode("There is a high chance for precipitations!"));
				li.classList.add("observation__text");
				ul.appendChild(li);
			}
			if (wind === true) {
				var li = document.createElement("li");
				li.appendChild(document.createTextNode("The wind is too strong!"));
				li.classList.add("observation__text");
				ul.appendChild(li);
			}
			if(!wind && !precipitation && !visibility && !cloud) {
				var ul = document.getElementById("observations");
				var li = document.createElement("li");
				li.appendChild(document.createTextNode("No observation"));
				li.classList.add("observation__text");
				ul.appendChild(li);
			}
		}

		$('td').hover(function () {
			var t = parseInt($(this).index()) + 1;
			$('td:nth-child(' + t + ')').addClass('highlighted');
		},
			function () {
				var t = parseInt($(this).index()) + 1;
				$('td:nth-child(' + t + ')').removeClass('highlighted');
			});


	</script>

} 