﻿body {
    height: 100vh;
    background-image: url("/pictures/createTripBackground.png");
    background-position: bottom;
    background-size: cover;
}

#map {
    height: 75vh;
    box-shadow: #fff 0px -3px 5px, rgba(0, 0, 0, 0.12) 0px -12px 30px, #fff 0px 4px 6px, #fff 0px 12px 13px, #fff 0px -3px 5px;
    margin-bottom: 1.5rem;
}

h1 {
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    display:flex;
    justify-content:center;
}

.content{
    padding-top: 1rem;
}

label {
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    margin: 0 0.5rem 0 1rem;
}

.data{
    display:flex;
    justify-content:center;
}

.button {
    margin-left: 1rem;
}

table {
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    margin-top: 1.2rem;
    background-color: #000000a9
}

table, th, td {
    border: 1px solid white;
    
}