﻿
span {
    color: red;
    text-shadow: 0 0 2px wheat;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    align-items:center;

    height:80vh;
}

.margin-bottom {
    margin-bottom: 1rem;
}

label {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px black;
}
input {
    opacity: 0.8;
    text-align: center;
    transition: 1s;
    width: 15vw;
    height: 3vh;
}

input:focus {
    outline: none;
}

input:hover {
    opacity: 1;
    transition: 1s;
}

.wrapper {
    background: url("../pictures/login_background.jpg");
    width: 100vw;
    height: 100vh;
    margin: 0;
}
.button {
    background-color: white;
    opacity: 0.75;
    border-radius: 10px;
    padding: 0.25rem 1rem ;
    transition: 1s;
    font-size: 1rem;
}

.button:hover{
    opacity: 1;
    transition: 1s;
    cursor:pointer;
}

h1 {
   color:white;
   text-shadow: 1px 1px  2px black;
   font-size: 4rem;
}

.register {
    color: white;
    text-decoration: none;
    transition: 0.2s;
    text-shadow: 1px 1px 2px black;
}

.register:hover{
    color: white;
    font-weight: 700;
    transition: 0.2s;
}

