﻿table {
    display: block;
    padding: 5vh 5vw 5vh 5vw;
    overflow: overlay;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    background: linear-gradient(90deg, rgba(175,174,199,0.29175420168067223) 0%, rgba(255,255,255,0.3393732492997199) 49%, rgba(175,174,199,0.2861519607843137) 100%);
}

::-webkit-scrollbar{
    background:transparent;
}

::-webkit-scrollbar-thumb{
    background:lightgray;
    border-radius: 10px;
}

td{
    min-width:7.5vw;
}

.content{
    padding-top: 1rem;
}

.wrapper {
    background: url("/pictures/trip_details_background.jpg") no-repeat center center fixed;
    height: 100vh;
    background-size: 250vh;

}

body {
}

.notes {
    text-align: center;
    display: block;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.title {
    opacity: 0.8;
    transition: 1s;
    width: 15vw;
    height: 5vh;
    font-size: 30px;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    text-align:center;
    display:block;
}


.title:focus {
    outline: none;
}


.bad-value{
    background-color: #ff000058;
}

.observation {
    margin: 1rem 0 0 1rem;
}


.observation__text {
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.highlighted {
    cursor: pointer;
    transition: 1s;
    background-color: rgba(255, 255, 255, 0.5);
}

.title-wrapper{
    display:flex;
    justify-content:center;
}

form{
    display:flex;
    flex-direction:row;
}